# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.name
.idea/compiler.xml
*.xml
*_CreamTest.ini
e3 Macro Inis/*
ArrayTest.mac
beg.mac
Cams.mac
DoorTests.mac
combine.mac
combine_ikk4.mac
click.mac
Arrows.mac
camp.mac
ch.mac
campkill.mac
Coho.mac
Coh_new2.mac
e3 Includes.rar
E3.iml
EventTest.mac
Fish.mac
Follow.mac
pethot.mac
robe_camp.mac
ShowBonuses.mac
forage.mac
Inventory.mac
tail.mac
e3 Macro Inis/doorquery.txt
ground.mac
Coho2.mac
Loopcast.mac
feign.mac
hidesneak.mac
NULL.ini
e3 Bot Inis/*
testinv.mac
e3 Includes/e3_Alerts.inc
ch_model.mac
*_CODS.ini
doorsarebroken.mac
testbind.mac
test_bind.mac
test_func.mac
test_func4.mac
test_func2.mac
test_func3.mac
test_bind2.mac
test_nb.mac
test_timed.mac
e3 Includes/e3_Alerts.inc
comma.mac
pick.mac

